* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
#logo{
    max-width: 200px;
}
#wrapper {
    max-width: 1000px;
    width: 100%;
}
h1 {
    color: rgb(0, 122, 156);
}
.text-justify {
    text-align: justify;
}
.custom-bg {
    background-color: #1D1B1B;
    color: white;
}
.rounded-custom {
    border-radius: 30px;
}
.nav-hover {
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px; 
    border-radius: 5px; 
    color: white;
}

.nav-hover:hover, .nav-hover:focus {
    color: #ffc107;
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: none; 
}